### Java ###
*.class
*.jar
*.war
*.ear

### Logs ###
*.log
log/

### OS ###
.DS_Store
Thumbs.db

### IDEs ###
*.iml
.idea/
*.iws
*.ipr
*.bak
*.swp
.vscode/

### Maven ###
target/
!.mvn/wrapper/maven-wrapper.jar

### IntelliJ ###
out/

### Spring Boot ###
/*.env

### Flyway ###
flyway.conf

### Others ###
.env
*.db
*.sqlite

